/// Copy text color
$primary: #0e1124;
$secondary: #2c335e;

:root {
  --primary-color: #0e1124;
  --secondary-color: #2c335e;
  --golden-color: hsl(54, 91.3%, 54.7%);
  --purple-color: hsl(306, 91.3%, 54.7%);
  --green-color: hsl(126, 91.3%, 54.7%);
  --text-color: #ffff;
}
